<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>CatFacts Galore!</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/home.css"/>
        <link href="http://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    </head>

    <body id="index" class="home">
        <div id="home-content">
            <!-- Page Header -->
            <header id="banner" class="body">
                <h1>CatFacts Galore!</h1>
                <strong>Bringing CatFacts within everyday reach.</strong>
<!-- TODO: Need navigation header? -->
            </header>

            <!-- Main content body -->
            <section id="main-body" class="body">
                <br>
                <h4 style="display: inline-block">Created by:</h4>
                <p style="display: inline-block">Kevin Crane</p> <br>
                <h4 style="display: inline-block">He writes things at: </h4>
                <p style="display: inline-block"><a href="http://thekevincrane.com">thekevincrane.com</a></p> <br>
                <h4 style="display: inline-block">He puts code online at: </h4>
                <p style="display: inline-block"><a href="http://www.github.com/kevincrane">www.github.com/kevincrane</a></p> <br>
                <h4 style="display: inline-block">He acts professional at: </h4>
                <p style="display: inline-block"><a href="http://www.linkedin.com/in/thekevincrane/">www.linkedin.com/in/thekevincrane/</a></p> <br>
            </section>

            <!-- Footer -->
            <footer id="nav-bar" class="body">
                <nav><ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li class="active">About</li>
                    <li><a href="http://thekevincrane.com">Blog</a></li>
                </ul></nav>
            </footer>
        </div>
    </body>

</html>