<!DOCTYPE html>
<html>
    <head>
        <title>CatFacts Galore!</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/home.css"/>
        <link href="http://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    </head>

    <body id="index" class="home">
        <div id="home-content">
            <!-- Page Header -->
            <header id="banner" class="body">
                <h1>CatFacts Galore!</h1>
                <strong>Bringing CatFacts within everyday reach.</strong>
<!-- TODO: Need navigation header? -->
            </header>

            <!-- Main content body -->
            <section id="main-body" class="body">
                <h4>What is <strong>CatFacts Galore</strong>?</h4>
                <p><strong>CatFacts Galore</strong> is an application to deliver the newest and greatest CatFacts straight to your inbox and phone every day.</p>
                <h4>Why do I want CatFacts?</h4>
                <p>What a stupid question. Why <em>wouldn't</em> you want CatFacts? You can impress your friends, amaze your coworkers, and improve yourself every day with the innate feline knowledge you will gain from this site!</p>
                <h4>How do I sign up?</h4>
                <p style="margin-bottom: 0px">Just go to the <a href="/">homepage</a> and enter your name in the first box and email/phone number in the second, and you're all done!</p>
            </section>

            <!-- Footer -->
            <footer id="nav-bar" class="body">
                <nav><ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"> FAQ</li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/chat">Chat</a></li>
                    <li><a href="http://thekevincrane.com">Blog</a></li>
                </ul></nav>
            </footer>
        </div>
    </body>

</html>