<!DOCTYPE html>
<html>
    <head>
        <title>CatFacts Galore!</title>
<!--TODO: remove this <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/> -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/home.css"/>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    </head>

    <body id="index" class="home">
        <div id="home-content">
            <!-- Page Header -->
            <header id="banner" class="body">
                <h1>CatFacts Galore!</h1>
                <strong>Bringing CatFacts within everyday reach.</strong>
<!-- TODO: Need navigation header? -->
            </header>

            <!-- Main content body -->
            <section id="main-body" class="body">
                <p>Here's a random Cat Fact:</p>
                {% if rand_fact %}
                    <p id="fact">{{ rand_fact }}</p>
                {% else %}
                    <p id="fact">Nevermind, no facts for you.</p>
                {% endif %}
                <p>Isn't that neat?!</p>

                <p>Now <strong>CatFacts Galore</strong> delivers new facts to you everyday,
                    straight to your email inbox or mobile phone!</p>
                <p>Just type your name below, then either your email address or phone number,
                    and we'll get you all set up!</p>

                <!-- Name/contact info -->
                <form id="newuser-form">
                    <input type="text" name="name" placeholder="Your Name">
                    <input type="text" name="contact" placeholder="Email or Phone Number">
                    <input type="submit" value="Submit">
                </form>
            </section>

            <!-- Footer -->
            <footer id="nav-bar" class="body">
                <nav><ul>
                    <li class="active"><a href="HOMESOMETHING">Home</a></li>
                    <li><a href="FAQSOMETHING">FAQ</a></li>
                    <li><a href="ABOUTSOMETHING">About</a></li>
                    <li><a href="http://thekevincrane.com">Blog</a></li>
                </ul></nav>
            </footer>
        </div>
    </body>

</html>